<div id="order">
  <h1 class="heading">Add New Gallery
  </h1>
  <form (ngSubmit)="create()" #galleryForm="ngForm" class="forms">
    <input type="text" name="place" class="inp_box" placeholder="Place" [(ngModel)]="gallery.place">
    <input type="text" name="price" class="inp_box" placeholder="Picture Url" [(ngModel)]="gallery.picture">
    <button class="btn2" type="submit">Submit</button>
    <div *ngIf="isCreateFail" class="alert alert-danger">
      {{createFailMessage}}
    </div>
  </form>
</div>
